.profile {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  

  .social-links {
    margin-top: 20px;
  }
  
  .social-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0077b5; /* LinkedIn blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  